
<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">マイページ</a></li>
  <li><a href="#tab2" data-toggle="tab">ウォッチリスト</a></li>
  <li><a href="#tab3" data-toggle="tab">注目記事</a></li>
  <li><a href="#tab4" data-toggle="tab">シュミレーション</a></li>
  <li><a href="#tab5" data-toggle="tab">その他資産</a></li>
  <li><a href="#tab6" data-toggle="tab">相続</a></li>
</ul>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">
    <%= render 'users/tab1'  %>
  </div>
  <div class="tab-pane fade" id="tab2">
    <%= render 'users/tab2'  %>
  </div>
  <div class="tab-pane fade" id="tab3">
    <%= render 'users/tab3'  %>
  </div>
  <div class="tab-pane fade" id="tab4">
    <%= render 'users/tab4'  %>
  </div>
  <div class="tab-pane fade" id="tab5">
    <%= render 'users/tab5'  %>
  </div>
  <div class="tab-pane fade" id="tab6">
    <%= render 'users/tab6'  %>
  </div>

</div>
